body {
  margin: 0;
}

canvas {
  border: 1px solid #ccc;
}

.container {
  display: flex;
}

.colors {
  list-style: none;
  margin: 0;
  padding: 0;
}
.colors li {
  height: 20px;
  width: 20px;
}
li.blue {
  background-color: blue;
}
li.black {
  background-color: black;
}
li.red {
  background-color: red;
}
li.green {
  background-color: green;
}
li.mediumpurple {
  background-color: mediumpurple;
}

.rubber {
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.cursor {
  width: 21px;
  height: 21px;
  border: 1px solid black;
  position: absolute;
  display: none;
}
